@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(../fonts/raleway/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(../fonts/raleway/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(../fonts/raleway/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}

h1,h2,h3,h4,h5,h6,.main-topic {
    font-weight: bold;
}

.sub-topic {
    font-weight: bold;
    color: #999;
}

.red-theme-color {
    color: #ff6c68;
}

.green-theme-color {
    color: #3FC380;
}

.orange-theme-color {
    color: #f39c12;
}

.cyan-theme-color {
    color: #00afb8;
}

.badge.info {
    background-color: #eee;
    color: #777;
    font-weight: normal;
}